<sf #form [schema]="schema" button="none" layout="vertical" [compact]="true">
  <ng-template sf-template="verifyCode" let-me let-ui="ui" let-schema="schema">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        nz-input
        placeholder="请输入邮箱验证码"
        [attr.id]="me.id"
        [disabled]="me.disabled"
        [attr.disabled]="me.disabled"
        [nzSize]="ui.size"
        [ngModel]="me.formProperty.value"
        (ngModelChange)="me.setValue($event)"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button [nzLoading]="state.sendingVerifyCode" [disabled]="forbiddenSendVerifyCode()"
              (click)="sendEmailVerifyCode()"
              nz-button nzType="dashed" nzSearch>
        <ng-container *ngIf="!state.verifyCodeActionDuration">
          获取验证码
        </ng-container>
        <ng-container *ngIf="state.verifyCodeActionDuration">
          {{state.verifyCodeActionDuration}}秒
        </ng-container>
      </button>
    </ng-template>
  </ng-template>
</sf>
<button [nzLoading]="state.registering" (click)="register()" nz-button nzType="primary" nzBlock
        [disabled]="!form?.valid">注册
</button>
