@import "src/style/variable";
@import "flex";

.text-horizontal-divider {
  color: hsla(0, 0%, 59.2%, .2);
  margin: 0 4px;
}

.clickable {
  cursor: pointer;
}

.font-color-primary {
  color: $primaryColor;
}

