$primaryColor: #1890ff;
$borderColor: rgba(178, 186, 194, .15);
$whiteColor: #fff;

$lightBorderColor: #ddd;
$lightBgColor: #eee;
$fontColor: #333;
$titleColor: $fontColor;
$secondaryColor: #4e5969;
$infoColor: #86909c;
