@import "../../../../style/variable";

:host {
  position: relative;
  background: $whiteColor;
  padding: 16px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $lightBorderColor;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .meta-info {
    color: $infoColor;
    display: flex;
  }


  .article-title {
    margin-top: 14px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    word-break: break-all;
    color: $titleColor
  }

  .article-main {
    display: flex;

    .article-main-inner {
      width: 100%;

      .article-brief-content {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: $secondaryColor;
        word-break: break-all;
      }

      .article-ops {
        display: flex;
        padding-bottom: 8px;
        color: $infoColor;

        .article-ops-item {
          margin-right: 24px;
          cursor: pointer;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }

    .article-head-img {
      flex: 0 0 auto;
      width: 142px;
      height: 80px;
      margin-left: 16px;
      background-color: $whiteColor;
      border-radius: 2px;
      position: relative;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }


}

.dividing {
  width: 1px;
  height: 14px;
  background: #e5e6eb;
  margin: 0 8px;
}
