<div class="meta-info">
  {{articleBrief?.author?.nickName}}
  <span class="text-horizontal-divider"> | </span>
  {{articleBrief?.modifiedTime | date:'yyyy-MM-dd HH:mm'}}
  <span class="text-horizontal-divider"> | </span>
  <app-article-tag-render [tagCodes]="articleBrief?.tags"></app-article-tag-render>
</div>

<div class="article-title">
  {{articleBrief?.title}}
</div>
<div class="article-main">
  <div class="article-main-inner">
    <div class="article-brief-content">
      {{articleBrief?.briefContent}}
    </div>
    <div class="article-ops">
      <div (click)="toggleLike()" class="article-ops-item">
        <i *ngIf="loadingState.likeLoading" nz-icon nzType="loading" nzTheme="outline"></i>
        <i *ngIf="!loadingState.likeLoading" [class.font-color-primary]="articleBrief?.isLiked" nz-icon nzType="like" nzTheme="outline"></i>
        <span>{{articleBrief?.likeCount}}</span>
      </div>
      <div class="article-ops-item">
        <i nz-icon nzType="comment" nzTheme="outline"></i>
        <span>{{articleBrief?.commentCount}}</span>
      </div>
      <div class="article-ops-item">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
        <span>分享</span>
      </div>
    </div>
  </div>
  <app-auth-img class="article-head-img" [attachmentId]="articleBrief?.headImageId"></app-auth-img>
</div>


