<div class="meta-info">
  手撕红黑树 | 12小时前
</div>
<div class="tag-list">
  <nz-tag>
    CSS
  </nz-tag>
  <nz-tag>
    前端
  </nz-tag>
</div>
<div class="article-title">
  产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗
</div>
<div class="article-main">
  <div class="article-main-inner">
    <div class="article-brief-content">
      产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗产品经理：鸿蒙那个开场动画挺帅的 给咱们页面也整一个呗
    </div>
    <div class="article-ops">
      <div class="article-ops-item">
        <i nz-icon nzType="like" nzTheme="outline"></i>
        <span>376</span>
      </div>
      <div class="article-ops-item">
        <i nz-icon nzType="comment" nzTheme="outline"></i>
        <span>376</span>
      </div>
      <div class="article-ops-item">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
        <span>376</span>
      </div>
    </div>
  </div>
  <div class="article-head-img">

  </div>
</div>


